.alert-warning{
    float: left;
    clear:both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

.title{
    text-align: center;
}

form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}