{% extends "mainApp/wrapper.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="features">
    <h1>{{ title }}</h1>
    <p>На нашем сайте представлена проставя информация.</p>
    <div class="btn btn-warning">На страницу про нас</div>
    {% for el in values %}
      {% if el == 'hello' %}
        {% filter upper %}
          <p>{{ el }}</p>
        {% endfilter %}
      {% endif %}
    {% endfor %}
    {% for el in obj %}<p>{{ el }}</p>{% endfor %}
  </div>
{% endblock %}
