<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <p>{% block content %} {% endblock %}</p>
        <p>
          <a href="/" class="btn btn-success btn-lg">Главная страница</a>
          <a href="/news" class="btn btn-primary btn-lg">
            Узнать больше&raquo;
          </a>
        </p>
      </div>
    </div>
    <div class="contaier">
      <img src="{% static 'mainApp/image/mersedes.jpg' %}" class="img-thumbnail">
      <hr>&copy;Все права защищены, 2022</hr>
    </div>
  </body>
</html>
